<div class="container">
  <div class="alert alert-success" role="alert" *ngIf="adicionado">
    Funcionário adicionado: <strong>{{nome}}</strong> 
  </div>

  <div class="form-group">
    <label >Nome</label>
    <!--<input type="text" class="form-control" placeholder="Coloque o seu nome"  (input)="nome = $event.target.value" [value]="nome" >-->
    <input type="text" class="form-control" placeholder="Coloque o seu nome"  [(ngModel)] = "nome" (focus)="adicionado=false">
  </div>

  <button type="button" class="btn btn-primary" (click)="adicionar()" [disabled]="nome.length == 0">Adicionar</button>

<div class="row" style="margin-top: 20px;">

  <div class="col-md-2" *ngFor = "let item of funcionarios">
    <div class="card">
      <img src="https://randomuser.me/api/portraits/men/{{item.id}}.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        {{item.nome}}
      </div>
    </div>
  </div>

</div>




</div>